<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <title>Law Selection</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

<h1>Welcome to Law Selection</h1>

<!-- Button to trigger GET request -->
<form th:action="@{/admin/lawSelection}" method="get">
    <button type="submit">Select Laws</button>
</form>


<form th:action="@{/admin/paginatedLaws}" method="get">
    <input type="hidden" name="entityType" value="building"> <button type="submit">Select Building Laws</button>
</form>

<form th:action="@{/admin/paginatedLaws}" method="get">
    <input type="hidden" name="entityType" value="floor"> <button type="submit">Select FLoor Laws</button>
</form>

</body>
</html>
