<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8"/>
    <title>Base Response Item Details</title>
    <link rel="stylesheet" type="text/css" th:href="@{/baseInformation.css}">

    <script>
        function submitForm(element) {
            let button = element.querySelector('td button[type="submit"]');
            button.click();
        }
    </script>

</head>
<body>

<div class="container">
    <h2>Base Response Item Details</h2>

    <table class="response-table">
        <thead>
        <tr>
            <th class="header-cell">행</th>
            <th class="header-cell">건물명</th>
            <th class="header-cell">건축물대장코드</th>
            <th class="header-cell">상위건축물대장코드</th>
            <th class="header-cell">대장구분코드</th>
            <th class="header-cell">대장구분코드명</th>
            <th class="header-cell">대장종류코드</th>
            <th class="header-cell">대장종류코드명</th>
            <th class="header-cell">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="obj, objStat : ${baseInfoList}" class="object-line" onclick="submitForm(this)">
            <td><span th:text="${objStat.index+1}"></span></td>
            <td><span th:text="${obj.bldNm}"></span></td>
            <td><span th:text="${obj.mgmBldrgstPk}"></span></td>
            <td><span th:text="${obj.mgmUpBldrgstPk}"></span></td>
            <td><span th:text="${obj.regstrGbCd}"></span></td>
            <td><span th:text="${obj.regstrGbCdNm}"></span></td>
            <td><span th:text="${obj.regstrKindCd}"></span></td>
            <td><span th:text="${obj.regstrKindCdNm}"></span></td>
            <td th:if="${flag == true}">
                <form th:action= "@{/main/submitBaseObject}" th:object="${obj}" method="post">
                    <input type="hidden" th:id= "baseResponsePk" th:name="baseResponsePk" th:value="${obj.mgmBldrgstPk}"/>
                    <button type="submit" class="submit-button" style="display: none;">Submit</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:unless="${flag == true}">
        <form th:action= "@{/main/input}" method="post">
            <button type="submit" class="submit-button">메인 화면으로 돌아가기</button>
        </form>
    </div>
</div>

</body>
</html>
