<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8"/>
    <title>Base Response Item Details</title>
    <link rel="stylesheet" type="text/css" th:href="@{/baseInformation.css}">

    <script>
        function submitForm(element) {
            let button = element.querySelector('td button[type="submit"]');
            button.click();
        }

    </script>

</head>
<body>

<div class="container">
    <h2>Expos Info Response Item Details</h2>

    <form th:action="@{/main/continueWithTitleObj}" method="post">
        <button type="submit" class="submit-button">표제부로 계속</button>
    </form>

    <table class="response-table">
        <thead>
        <tr>
            <th class="header-cell">rnum</th>
            <th class="header-cell">Building Name</th>
            <th class="header-cell">Ho Name</th>
            <th class="header-cell">Registration Pk</th>
            <th class="header-cell">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="obj, objStat : ${exposInfoList}" class="object-line" onclick="submitForm(this)">
            <td><span th:text="${obj.rnum}"></span></td>
            <td><span th:text="${obj.bldNm}"></span></td>
            <td><span th:text="${obj.hoNm}"></span></td>
            <td><span th:text="${obj.mgmBldrgstPk}"></span></td>
            <td>
                <form th:action= "@{/main/submitExposInfoObj}" th:object="${obj}" method="post">
                    <input type="hidden" th:name="baseResponseItemObject" th:value="${obj}"/>
                    <button type="submit" class="submit-button" style="display: none;">Submit</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
