<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8"/>
    <title>Base Response Item Details</title>
    <link rel="stylesheet" type="text/css" th:href="@{/baseInformation.css}">

    <script>
        function submitForm(element) {
            let button = element.querySelector('td button[type="submit"]');
            button.click();
        }
    </script>

</head>
<body>

<div class="container">
    <h2>floor title Response Item Details</h2>

    <table class="response-table">
        <thead>
        <tr>
            <th class="header-cell">제목</th>
            <th class="header-cell">건물명</th>
            <th class="header-cell">등록 PK</th>
            <th class="header-cell">주용도코드</th>
            <th class="header-cell">주용도명</th>
            <th class="header-cell">기타용도</th>
            <th class="header-cell">세대수</th>
            <th class="header-cell">총지상층</th>
            <th class="header-cell">총지하층</th>
            <th class="header-cell">연면적</th>
            <th class="header-cell">허가일</th>
            <th class="header-cell">구조코드</th>
            <th class="header-cell">구조명</th>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${titleResponseItem}" class="object-line" onclick="submitForm(this)">
            <td><span th:text="표제부"></span></td>
            <td><span th:text="*{bldNm}"></span></td>
            <td><span th:text="*{mgmBldrgstPk}"></span></td>
            <td><span th:text="*{mainPurpsCd}"></span></td>
            <td><span th:text="*{mainPurpsCdNm}"></span></td>
            <td><span th:text="*{etcPurps}"></span></td>
            <td><span th:text="*{hhldCnt}"></span></td>
            <td><span th:text="*{grndFlrCnt}"></span></td>
            <td><span th:text="*{ugrndFlrCnt}"></span></td>
            <td><span th:text="*{totArea}"></span></td>
            <td><span th:text="*{pmsDay}"></span></td>
            <td><span th:text="*{strctCd}"></span></td>
            <td><span th:text="*{strctCdNm}"></span></td>
        </tr>
        </tbody>
    </table>

    <table class="response-table">
        <thead>
        <tr>
            <th class="header-cell">rnum</th>
            <th class="header-cell">Building Name</th>
            <th class="header-cell">Registration Pk</th>
            <th class="header-cell">floor no. name</th>
            <th class="header-cell">floor Code</th>
            <th class="header-cell">floor code name</th>
            <th class="header-cell">structure code</th>
            <th class="header-cell">structure code name</th>
            <th class="header-cell">building(main) purpose code</th>
            <th class="header-cell">building(main) purpose code name</th>
            <th class="header-cell">floor purpose(etc) code</th>
            <th class="header-cell">area</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="obj, objStat : ${floorInfoList}" class="object-line" onclick="submitForm(this)">
            <td><span th:text="${objStat.index+1}"></span></td>
            <td><span th:text="${obj.getBldNm()}"></span></td>
            <td><span th:text="${obj.mgmBldrgstPk}"></span></td>
            <td><span th:text="${obj.flrNoNm}"></span></td>
            <td><span th:text="${obj.flrGbCd}"></span></td>
            <td><span th:text="${obj.flrGbCdNm}"></span></td>
            <td><span th:text="${obj.strctCd}"></span></td>
            <td><span th:text="${obj.strctCdNm}"></span></td>
            <td><span th:text="${obj.getMainPurpsCd()}"></span></td>
            <td><span th:text="${obj.getMainPurpsCdNm()}"></span></td>
            <td><span th:text="${obj.getEtcPurps()}"></span></td>
            <td><span th:text="${obj.getArea()}"></span></td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/main/input}" method="post">
        <button type="submit" class="submit-button">새로운 검색 하기</button>
    </form>

    <form th:action="@{/main/execute/BuildingFloor}" method="post">
        <button type="submit" class="submit-button">법률 조건식 적용 결과 보기</button>
    </form>
</div>

</body>
</html>
